# WARNING: Do NOT copy this file from one router to another, this may cause serious problems.
# NOTE: This I2P config file must use UTF-8 encoding
# Last saved: Jun 16, 2025, 12:18 PM
i2np.lastCountry=be
i2np.lastIP=81.243.86.161
i2np.lastIPChange=1750000741800
i2np.ntcp.port=12345
i2np.ntcp2.iv=nY6sYR0MNGr63yZ1ivo1Zw==
i2np.ntcp2.sp=yVDM6-1CyEc0-yOH41kaCNQnZmkpv-jQ4hJxsVq-3bw=
i2np.ssu2.ikey=Z8ZltEH-uIZjisLaVNJpScuzIsd3VlzZVK2unA3teZs=
i2np.ssu2.sp=X5uvBBdO8mXBqnllJm5PpExGIS~Rgt5OY2YWcZDtU0g=
i2np.udp.internalPort=12345
i2np.udp.port=12345
i2p.addressbook.subscriptions=subscriptions.txt
i2p.dir.base=/i2p
i2p.dir.config=/i2p/.i2p
jbigi.lastProcessor=Ryzen/Epyc Zen 3 model 33/64
jbigi.loadedResource=libjbigi-linux-zen2_64.so
router.blocklistVersion=1747001083000
router.firstInstalled=1750000736712
router.firstVersion=2.8.2
router.inboundPool.randomKey=yO9hGsi4sF4oc2veK0a2D~7sLjvqxr1RW4gHq3hG4mg=
router.outboundPool.randomKey=dsgZJYUGM188L7BIi5yqTpqxSwzI2sjX4cYWGs09htQ=
router.passwordManager.migrated=true
router.previousVersion=2.8.2
router.startup.jetty9.migrated=true
router.updateDisabled=true
router.updateLastInstalled=1750000736712
routerconsole.newsLastChecked=1750003668190
routerconsole.newsLastLanguage=en
routerconsole.newsLastNewEntry=1748907356000
routerconsole.newsLastUpdated=1748907356000
