# NOTE: This I2P config file must use UTF-8 encoding
# Last saved: Jun 15, 2025, 5:18 PM
webapps.i2psnark.startOnLoad=true
webapps.i2ptunnel.startOnLoad=true
webapps.imagegen.startOnLoad=true
webapps.jsonrpc.startOnLoad=false
webapps.routerconsole.startOnLoad=true
webapps.susidns.startOnLoad=true
webapps.susimail.startOnLoad=true
